
<%= form_for(@pokemon) do |f| %>
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% @pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="ui form">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :types %>
    <%= f.text_field :types %>
  </div>

  <div class="field">
    <%= f.label :abilities %>
    <%= f.text_field :abilities %>
  </div>

<!--   <div class="field">
    <%= f.label :description %><br>
  </div>
 -->
  <div class="field">
    <label>Description</label>
        <%= f.text_area :description %>
    <grammarly-btn><div style="z-index: 2; opacity: 1; transform: translate(641px, 160px);" class="_9b5ef6-textarea_btn _9b5ef6-anonymous _9b5ef6-not_focused" data-grammarly-reactid=".0"><div class="_9b5ef6-transform_wrap" data-grammarly-reactid=".0.0"><div title="Protected by Grammarly" class="_9b5ef6-status" data-grammarly-reactid=".0.0.0">&nbsp;</div></div><span class="_9b5ef6-btn_text" data-grammarly-reactid=".0.1">Not signed in</span></div></grammarly-btn>
  </div>

<% end %>

<div class="actions">
  <button class="ui button"><%= link_to 'Back', pokemons_path %></button>
  <button class="ui button" type="submit">Submit</button>
</div>

</div>