<!-- <p id="notice"><%= notice %></p> -->

<div class="ui message">
  <%= notice %>
</div>

<center>
<div class="ui raised padded text container segment">
        <div class="content">
            <h1 class="ui black inverted segment header"><%= @pokemon.name %></h1>
            <div class="ui hidden divider">Type/s</div>
              <%= @pokemon.types %>
            <div class="ui hidden divider">Abilities</div>
              <%= @pokemon.abilities %>
            <div class="ui hidden divider">Description</div>
              <%= @pokemon.description %>
        </div>

		<div class="ui hidden divider"></div>

        <div class="extra content">
			<button class="tiny ui button"><%= link_to 'Back', pokemons_path %></button>
            <button class="tiny positive ui button"><%= link_to 'Edit', edit_pokemon_path(@pokemon) %></button>
            <button class="tiny negative ui button"><%= link_to 'Delete', @pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>

		<div class="ui mini hidden divider">Share this Pokemon!</div>

        <div class="extra content">
			<button class="ui circular facebook icon button">
			  <i class="facebook icon"></i>
			</button>
			<button class="ui circular twitter icon button">
			  <i class="twitter icon"></i>
			</button>
			<button class="ui circular instagram icon button">
			  <i class="instagram icon"></i>
			</button>
			<button class="ui circular tumblr icon button">
			  <i class="tumblr icon"></i>
			</button>
        </div>


</div>
</center>
<div class="ui massive hidden divider"></div>
<%= render 'footer' %>
